*{
  box-sizing: border-box;
}


.App {
  width: 100%;
  align-items: center;
}

header{
  background-color: blue;
}

.whatsOnContainer{
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0 5vw 0 5vw;
}

.filmInfoContainer{
  width: 600px;
  height: 70vh;
  flex: 50%;
  margin: 5px;
  background-color: orange;
}